.complexhtml_xblock{
    background-color: #f2f2f2;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-color: #19b872;
}

.complexhtml_left{
    float : left;
    width : 10%;
}

.complexhtml_right{
    float : right;
    width : 90%;
}

.complexhtml_left i{
    font-size: 75px;
}

.complexhtml_xblock:after{
    content:"";
    display: table;
    clear: both;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v13/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
